<h1>Editing donation</h1>

<% form_for(@donation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :received %>?<br />
    <%= f.check_box :received %>
  </p>
  <p>
    <%= f.submit "Update" %> |
    <%= link_to 'Cancel', project_path(@donation.project),
      :class => 'admin' %>
  </p>
<% end %>
