  <%= f.hidden_field :ministry_id %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <%= render :partial => '/data_files/list' %>
  <p>
    <%= f.label :description %><%= markdown_help %><br />
    <%= f.text_area :description, :size => "80x10" %>
  </p>
  <table>
    <tr>
      <td><%= f.label :cost %></td>
      <td><%= f.label :raised %></td>
      <td><%= f.label :code %></td>
      <td><%= f.label :finished %>?</td>
    </tr>
    <tr>
      <td><%= f.text_field :cost, :size => 10 %></td>
      <td><%= f.text_field :raised, :size => 10 %></td>
      <td><%= f.text_field :code, :size => 4 %></td>
      <td><%= f.check_box :finished %></td>
    </tr>
  </table>
  
  <table>
    <tr><td><%= f.label :start_at %></td>
      <td><%= f.label :stop_at %></td></tr>
    <tr><td>
      <%= f.calendar_date_select :start_at %></td>
      <td><%= f.calendar_date_select :stop_at %></td></tr>
  </table>
