<h1>Edit <%=h @project.name %> for <%= link_to @ministry.name, @ministry %></h1>

<% form_for(@project) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => {:f => f} %>
  
  <p>
    <%= f.submit "Update" %> |
    <%= link_to 'Cancel', @project, :class => 'admin' %>
  </p>
<% end %>
